.datingCards_container {
  display: flex;
  justify-content: center;
  margin-top: 4vh;
  position: relative;
  padding: 1%;
}
.datingCards_container .img-1 {
  position: relative;
  width: 600px;
  max-width: 25rem;
  padding: 2px;
  min-height: 45vh;
  border-radius: 2rem;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
}
.datingCards_container .swip {
  position: absolute;
}
.datingCards_container .card h3 {
  position: absolute;
  bottom: 87%;
  border-radius: 0.4rem;
  left: 5%;
  margin: 10px;
  overflow: hidden;
  color: white;
  opacity: 0.5;
  border: 1px solid black;
  padding: 1% 3%;
  background-color: black;
}/*# sourceMappingURL=DatingCard.css.map */