.datingCards_container{
    display: flex;
    justify-content: center;
    margin-top: 4vh;
    position: relative;
    padding: 1%;
  
 .img-1{
    position: relative;
    width: 600px;
    max-width: 25rem;
    padding: 2px;
  
min-height: 45vh;
border-radius: 2rem;
background-size: cover;
background-position: center;
box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
 }
    
 .swip{
    position: absolute;
 }
 .card{
   h3{
      position: absolute;
     bottom: 87%;
     border-radius: 0.4rem;
     left: 5%;
      margin: 10px;
      overflow: hidden;
      color:white;opacity: 0.5;
      border: 1px solid black;
      padding: 1% 3%;
      background-color: black;
   }
 }
}