.header_icons{
display: flex;
align-items: center;
justify-content: center;
z-index: 100;
gap: 12rem;


border-bottom: 1px solid #f9f9f9;
    }
.header_logo
{
object-fit: contain;
height: 40px;
padding: 1%;
    }
.header_icon{
    padding: 1%;

    }