.swip_btns{
    
  display: flex;
   background-color: transparent;
  justify-content: center;
  gap: 2rem;
  margin-top: 60vh;

%padding_chk{
    padding: 1.5%;
    box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3);
}    
.swip_replay{
        @extend %padding_chk;
    }
.swip_close{
    @extend %padding_chk;
}
.swip_star{
    @extend %padding_chk;
}
.swip_favrt{
    @extend %padding_chk;
}
.swip_flash_On{
    @extend %padding_chk;
}
}
