.swip_btns {
  display: flex;
  background-color: transparent;
  justify-content: center;
  gap: 2rem;
  margin-top: 60vh;
}
.swip_btns .swip_flash_On, .swip_btns .swip_favrt, .swip_btns .swip_star, .swip_btns .swip_close, .swip_btns .swip_replay {
  padding: 1.5%;
  box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3);
}/*# sourceMappingURL=SwipBtns.css.map */